* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  height: 100vh;
  width: 95%;
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #f5a098 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; 
  box-shadow: rgba(239, 14, 157, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}


@keyframes translate {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}

.animated-image {
  animation: translate 3s linear infinite alternate;
  height: 450px;
  z-index: 99;
  position: relative;
  transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
  border-radius: 30px 0 30px 0; /* top-left, top-right, bottom-right, bottom-left */
}

/* Step 3: Apply the Animation on Hover */
.main img:hover {
  cursor: pointer; /* Pointer cursor when hovering */
  animation: hoverAnimation 0.6s ease-in-out forwards;
}
.scroll-div {
  position: absolute;
  top: 30%;
  width: 100%;
  height: auto;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.scroll-div::-webkit-scrollbar {
  display: none;
}
.scroll-div h1 {
  display: inline-block;
  margin-right: 20px;
  font-size: 7vw;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Georgia, serif;
  animation-name: scroll;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.scroll-div2 {
  position: absolute;
  top: 50%;
  width: 100%;
  height: auto;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 100;
}
.scroll-div2::-webkit-scrollbar {
  display: none;
}
.scroll-div2 h1 {
  display: inline-block;
  margin-right: 20px;
  font-size: 7vw;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: Georgia, serif;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  color: transparent;
  animation-name: scroll;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.scroll-div3 {
  position: absolute;
  top: 70%;
  width: 100%;
  height: auto;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.scroll-div3::-webkit-scrollbar {
  display: none;
}
.scroll-div3 h1 {
  display: inline-block;
  margin-right: 20px;
  font-size: 7vw;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: Georgia, serif;
  animation-name: scroll;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}

.content {
  display: flex;
  position: absolute;
  top: 15%;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;

  text-align: center; /* Center text */
}
.text {
  position: absolute;
  font-size: 25px;
  font-family: Georgia, serif;
  width: 60%;
  top: 0%;
  text-transform: uppercase;
  z-index: 999;
  text-align: center;
}
.list {
  position: absolute;
  left: 0;
  top: 0;
  text-align: left;
}
.list p {
  padding-left: 10px;
  font-size: 20px;
  font-weight: 800;
}
@keyframes scroll {
  0% {
    transform: translateX(calc(-100% - 20px));
  }
  100% {
    transform: translateX(0);
  }
}
.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Make sure the nav spans the full width */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Padding for better spacing */
  z-index: 1000; /* Ensure it stays on top */
  padding: 10px 20px;
}

.nav h1 {
  text-transform: uppercase;
  font-size: 2vw;
}
h1.middle {
  color: black;
}
.nav h1.menu {
  display: flex;
  align-items: center;
}
.nav h1.menu::before {
  content: "\2630"; /* Unicode for hamburger icon */
  margin-right: 10px;
}

/* Responsive design */
@media (max-width: 1080px) {
  .main img {
    height: 600px; /* Decrease image height on smaller screens */
  }
}
@media (max-width: 676px) {
  .main img {
    height: 600px; /* Decrease image height on smaller screens */
  }
}
